<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="constructor">
    <context:property-placeholder location="classpath:db.properties"/>

    <bean id="connector" class="org.example.connector.xml.XmlHSQLConnector"/>

    <bean id="dataSource" class="org.hsqldb.jdbc.JDBCDataSource">
        <property name="database" value="${url}"/>
        <property name="user" value="${login}"/>
        <property name="password" value="${password}"/>
    </bean>

</beans>